# ignore all wing admin files
*.wp[ru]

# ignore all files in the cache
__pycache__/

# ignore all files in the logs dir
logs/

# ignore all output files in www.orrc.org
www.orrc.org/

# my private prams file


